* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    font-family: 'Poppins', sans-serif;
}

.logo img {
    width: 100%;
}

body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none;
}