* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: url(../img/bg-desktop.svg) no-repeat var(--primary-violet);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: #fff;
}