
@media (min-width: 726px) {
    body{
        background-image: url(../img/bg-desktop.svg);
        background-repeat: no-repeat;
        background-color: var(--primary-violet);
        background-size: cover;
    }

    .header .logo {
        margin-top: 4.7rem;
        margin-left: 4.48rem;
        max-width: 15.9rem;
    }

    .services .info {
        max-width: 40rem;
    }

    .footer .social {
        flex-direction: row;
        margin-top: 1.9rem;
        margin-right: 28.9rem;
    }
}
@media (max-width: 725px) {
    body{
        flex-direction: column;
        background-image: url(../img/bg-desktop.svg);
        background-repeat: no-repeat;
        background-color: var(--primary-violet);
        background-size: cover;
    }
    .header{
        height: 7rem;
        margin-bottom: 2.3rem;
    }

    .header .logo {
        margin-top: 3rem;
        margin-left: 2rem;
        max-width: 14rem;
    }

    .main .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .services .banner img{
        margin: 0;
    }

    .services .info {
        margin: 0;
        width: 100%;
        
    }

    .services .info h2 {
        font-size: 2.3rem;
    }

    .services .info p {
        font-size: 1.44rem;
    }

    .footer {
        width: 100vw;
        margin-top: 7rem;
        justify-content: center;
    }

    .footer .social {
        flex-direction: row;
        flex-wrap: nowrap;
    }


}

@media (max-width: 500px) {
    body{
        background-image: url(../img/bg-mobile.svg);
        background-repeat: no-repeat;
        background-color: var(--primary-violet);
        background-size: contain;
    }

    .footer{
        margin-top: 7rem;
    }
}